.App {
    text-align: center;
    background-color:white;
  }
  .Dark {
    background-color: #2c2b2b;
    color: white;
  }
  
  .Dark2 {
    background-color: #3b3b3b;
    color: white;
  }
  
  .Light {
    background-color: whitesmoke;
    color: black;
  }
  
  .Light2 {
    background-color: white;
    color: black;
  }
  
  .darkModeBtn {
    position: absolute;
    top: 70px;
    right: 100px;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    border: none;
    display: none;
  }
  
  /* img {
    box-shadow: 1px 1px 10px gray;
  } */
  .link {
    text-decoration: none;
  }
  input {
    display: none;
  }
  
  .logoText {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .menuBtnContainer label {
    display: none;
  }
  
  .textThe {
    transform: rotate(-90deg);
    font-weight: 600;
  }
  .textSiren {
    font-size: 60px;
    margin-top: 4.2vh;
    margin-bottom: 4.2vh;
  }
  .navBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .link {
    text-decoration: none;
    color: inherit;
    font-size: larger;
    font-weight: 500;
  }
  
  .navHr {
    width: 95%;
    height: 2px;
    position: relative;
    top: 10px;
  }
  
  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1rem;
    margin-bottom: 4rem;
  }
  .mainContainer {
    padding: 6.7vh 10.41vw;
  }
  
  .mainArticle1 {
    grid-column: 1/2;
    grid-row: 1/3;
    /* width: 55rem; */
    width: 57vw;
    height: 58.8vh;
    position: relative;
    /* box-shadow: 0px 5px 10px #0000001a; */
  }
  
  .mainArticle1 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .mainArticle1Text {
    position: absolute;
    top: 36.4vh;
    left: 5.2vh;
    color: white;
    text-align: left;
  }
  
  .mainArticle1Text h2 {
    font-weight: 500;
  }
  
  .mainArticle2 {
    width: 20.8vw;
    height: 27.7vh;
    position: relative;
  }
  
  .mainArticle2 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .mainArticle2Text {
    position: absolute;
    top: 20.5vh;
    left: 0px;
    color: rgb(248, 248, 248);
    text-align: left;
    background: linear-gradient(
      0deg,
      #27272f 0%,
      rgba(12, 12, 14, 0.6) 90.27%,
      rgba(0, 0, 0, 0.0001) 100%
    );
    width: 100%;
    border-radius: 10px;
  }
  
  .mainArticle2Heading {
    font-weight: 500;
    font-size: 1.3rem;
  }
  
  .mainArticle2Text h2,
  .mainArticle2Text small {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 5px;
  }
  
  .sideArticle {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .latestHeader {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-top: 5rem; */
    margin-bottom: 6.7vh;
    text-align: left;
    border-bottom: 2px solid orange;
  }
  
  .latestHeader h1 {
    margin-bottom: 10px;
    width: fit-content;
  }
  
  .latestHeader hr {
    border-bottom: 2px solid orange;
    width: 50%;
    position: relative;
    right: 2.2vw;
    display: none;
  }
  
  .latestAllContainer {
    /* margin-top: 5rem; */
    display: flex;
    width: 100%;
    gap: 2rem;
  }
  
  .latestAllArticle {
    width: 25rem;
    /* background-color: whitesmoke; */
    border-bottom-right-radius: 20px;
  }
  
  .latestAllArticle img {
    width: 100%;
    height: 229px;
    border-top-left-radius: 20px;
    box-shadow: none;
  }
  
  .LatestAllText {
    /* border-radius: 5px; */
    padding: 0 2vw;
    height: 40vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .LatestAllText .link h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  
  .articleContainer {
    margin-bottom: 5rem;
  }
  
  .latestOneContainer {
    grid-row: 1/3;
    flex: 0.7;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .latestOneContainer hr {
    width: 100%;
  }
  
  .latestOneArticle {
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
    gap: 2rem;
  }
  .latestOneArticle img {
    width: 20vw;
    height: 31.3vh;
    border-radius: 10px;
  }
  
  .LatestOneText {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .LatestOneText h2 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .LatestOneText p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .loadContainer {
    display: flex;
    width: fit-content;
    gap: 0.6rem;
    cursor: pointer;
    /* background-color: white; */
    border: none;
  }
  .loadMoreSpan {
    background-image: url(./assets/arrow.svg);
    width: 12px;
    height: 20px;
  }
  
  .latestArticlesContainer {
    display: grid;
    grid-template-columns: 66% 34%;
    grid-template-rows: auto auto auto auto;
    gap: 2rem;
    width: 100%;
  }
  
  .ad {
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }
  
  .prepbytesImg {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  
  .latestTwoContainer {
    /* width: 50rem; */
    flex: 0.7;
    grid-row: 3/4;
    display: flex;
  }
  
  .latestTwoArticle {
    width: 100%;
    height: 30rem;
    position: relative;
  }
  
  .latestTwoArticle img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
  }
  .latestTwoText {
    width: 100%;
    color: white;
    position: absolute;
    top: 67%;
    background: linear-gradient(
      0deg,
      #27272f 0%,
      rgba(12, 12, 14, 0.6) 90.27%,
      rgba(0, 0, 0, 0.0001) 100%
    );
    opacity: 0.9;
    border-radius: 10px;
  }
  
  .latestTwoHeading {
    color: white;
  }
  
  /************************** Latest stories *************************/
  .latestAllContainer :nth-child(6) {
    background-color: red;
    display: none;
  }
  
  /* .latestAllText h2 {
    font-size: 10px;
  } */
  
  /* View more */
  
  .viewContainer {
    margin-top: 3rem;
    display: flex;
    width: fit-content;
    gap: 0.6rem;
    cursor: pointer;
    background-color: white;
    border: none;
  }
  
  .viewMoreSpan {
    background-image: url(./assets/arrow-right.svg);
    width: 20px;
    height: 12px;
  }
  
  /* Top Articles */
  
  .topArticles {
    width: 100%;
    grid-row: 2/4;
  }
  .topArticle {
    width: 100%;
    height: 22.4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  .topArticle img {
    width: 10vw;
    height: 15vh;
    border-radius: 5px;
  }
  /* .topArticles img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  } */
  .topArticlesText {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
  .topArticlesText h2 {
    font-size: inherit;
  }
  
  .topArticlesText h4 {
    margin-top: 0;
  }
  
  .topArticlesText p {
    margin: 0;
  }
  
  .topOneArticle img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .topOneArticle {
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .topListNum {
    font-size: 40px;
    font-weight: 500;
    color: gray;
  }
  
  .topArticlesInfo {
    width: 15vw;
  }
  .topArticlesInfo h2 {
    font-size: inherit;
  }
  
  /* footer {
    background-color: whitesmoke;
  } */
  
  footer hr {
    margin: 0;
  }
  
  footer h3 {
    padding: 1%;
    margin: 0;
    font-weight: 500;
  }
  
  @media all and (max-width: 420px) {
    #root {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0%;
      overflow-x: hidden;
    }
  
    .darkModeBtn {
      position: absolute;
      top: 25px;
      right: 100px;
      padding: 0.7rem 1rem;
      border-radius: 10px;
      border: none;
    }
  
    .logoHead {
      height: 90px;
    }
    .logoContainer {
      width: 100%;
      display: flex;
      box-shadow: 1px 1px 10px gray;
      justify-content: space-between;
      align-items: baseline;
    }
    .logoText {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      padding: 1rem 2rem;
    }
    .textThe {
      font-size: 18px;
      margin: 0;
    }
    .textSiren {
      margin: 0;
      font-size: 36px;
    }
    .menuBtnContainer {
      display: inline;
      padding: 1rem 2rem;
    }
    .menuBtnContainer label {
      display: block;
      /* background-color: #fff; */
      border: none;
    }
    .navBar {
      display: none;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      width: 100%;
      /* background-color: white; */
    }
  
    .navBar .link {
      border-top: 1px solid gray;
      width: 80%;
      padding: 0.8rem;
    }
    .menuBtnContainer label {
      position: absolute;
      top: 30px;
      left: 320px;
      z-index: 1;
    }
    input {
      display: none;
    }
    #check01:checked ~ .navBar {
      display: flex;
    }
  
    .navHr {
      display: none;
    }
    .mainContainer {
      /* margin:; */
      padding: 0rem;
      /*  */
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    .container {
      /* display: flex;
      flex-direction: column; */
      /*  */
      width: 300%;
      display: flex;
      flex-direction: row;
      animation: slideshow 12s infinite ease-in-out;
      gap: 0px;
    }
    .mainArticle1 {
      /* width: 100%; */
      width: 52%;
      padding: 0 1rem;
    }
    .mainArticle1Text {
      /* top: 40vh;
      left: 1vh; */
      position: absolute;
      top: 53vh;
      left: 15px;
      color: rgb(248, 248, 248);
      text-align: left;
      background: linear-gradient(
        0deg,
        #27272f 0%,
        rgba(12, 12, 14, 0.6) 90.27%,
        rgba(0, 0, 0, 0.0001) 100%
      );
      width: 92%;
      border-radius: 10px;
    }
    .mainArticle1Text h2 {
      font-size: 1.3rem;
    }
  
    .mainArticle1Text h2 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 5px;
    }
    .mainArticle2 {
      width: 52%;
      /* width: 55rem; */
      height: 58.8vh;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0;
      padding-bottom: 0;
    }
    @keyframes slideshow {
      0% {
        margin-left: 0%;
      }
      20% {
        margin-left: 0%;
      }
      40% {
        margin-left: -100%;
      }
      60% {
        margin-left: -100%;
      }
      80% {
        margin-left: -200%;
      }
      100% {
        margin-left: -200%;
      }
    }
    .mainArticle2Text {
      width: 92%;
      height: fit-content;
      top: 53vh;
      left: 15px;
    }
  
    .articleContainer,
    .latestGridContainer,
    footer {
      width: fit-content;
      padding: 0 1rem;
    }
  
    .latestAllContainer {
      flex-direction: column;
    }
    .latestAllArticle {
      width: 100%;
    }
    .LatestAllText {
      height: 35vh;
    }
    .latestArticlesContainer {
      display: flex;
      flex-direction: column;
    }
    .latestOneArticle {
      align-items: center;
      gap: 0;
    }
  
    .latestOneArticle .link img {
      width: 170px;
      height: 170px;
      border-radius: 0;
    }
  
    .LatestOneText .link h2 {
      font-size: 18px;
    }
    .LatestOneText p {
      /* font-size: 10px; */
      width: 170px;
      height: fit-content;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .latestTwoContainer,
    .ad {
      display: none;
    }
    .topOneArticle .link img {
      height: 300px;
      border-radius: 0;
    }
    .topArticle {
      width: 100%;
      align-items: center;
    }
  
    .topOneArticleInfo {
      width: 100%;
    }
    .topArticlesText {
      text-align: left;
      display: flex;
      justify-content: space-between;
    }
    .topArticlesInfo {
      width: 80%;
    }
    .topArticlesInfo .link h2 {
      margin-top: 0;
    }
    .topArticle .link img {
      width: 100%;
      height: 120px;
      border-radius: 0;
      box-shadow: none;
    }
    .latestAllContainer {
      gap: 1rem;
    }
    .latestAllContainer hr {
      display: none;
    }
    .LatestAllText br {
      display: none;
    }
    .latestThreeArticle .LatestAllText {
      height: 30vh;
    }
  }